{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% block base_main %}
    {{ dump() }}

    <div style="">
        <!-- landing page -->

    </div>
    <div>
        <!-- products -->
    </div>
{% endblock %}