{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% if activeRoute == "frontend.home.page" %}
    {# entfernt header margin #}
    {% set large_header_margin = false %}
{% endif %}

{% block base_main_inner %}
    {# wenn die aktive route frontend.home.page ist, dann wird die landingpage geladen, ansonsten die anderen sites #}
    {% if activeRoute == "frontend.home.page" %}
        {% sw_include '@VinoshopTheme/storefront/page/content/landingpage.html.twig' with {
            cmsPage: page.cmsPage
        } only %}
    {% else %}
        {% set large_header_margin = true %}
        <div class="container-main">
            {% block page_content %}
                {% block cms_breadcrumb %}
                    <div class="breadcrumb cms-breadcrumb container">
                        {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                            context: context,
                            category: page.header.navigation.active
                        } only %}
                    </div>
                {% endblock %}

                {% block cms_content %}
                    <div class="cms-page">
                        {% block page_content_blocks %}
                            {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
