{% set large_header_margin = false %}
{% block landingpage %}
    {% if cmsPage %}
        {% set landingpage_header = "" %}
        {% set landingpage_products = "" %}
        {% set landingpage_categories = "" %}
        {% set landingpage_winzer = "" %}
        <div class="cms-page">
            <div class="landingpage">
                {% for element in cmsPage.sections.elements %}
                    {% if element.name == "landingpage_header" %}
                        {% set landingpage_header = element %}
                    {% elseif element.name == "landingpage_products" %}
                        {% set landingpage_products = element %}
                    {% elseif element.name == "landingpage_categories" %}
                        {% set landingpage_categories = element %}
                    {% elseif element.name == "landingpage_winzer" %}
                        {% set landingpage_winzer = element %}
                    {% endif %}
                {% endfor %}

                {% sw_include '@VinoshopTheme/storefront/page/content/startImg.html.twig' with {
                    landingpage_header: landingpage_header
                } only %}

                {% sw_include '@VinoshopTheme/storefront/page/content/landingpageProducts.html.twig' with {
                    landingpage_products: landingpage_products
                } only %}

                {% sw_include '@VinoshopTheme/storefront/page/content/landingpageCategories.html.twig' with {
                    landingpage_categories: landingpage_categories
                } only %}

                {% sw_include '@VinoshopTheme/storefront/page/content/recommendedWinzer.html.twig' with {
                    landingpage_winzer: landingpage_winzer
                } only %}
            </div>
        </div>
    {% endif %}
{% endblock %}

