{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}

    <div class="container my-4">
        <h1>{{ legalPageOptions.title }}</h1>
        {{ context.salesChannel.translated.customFields[legalPageOptions.fieldKey] }}
    </div>

{% endblock %}
