{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button_container %}
{% endblock %}

{% block page_product_detail_buy_quantity_container  %}
    <div class="product-detail-action-section">
        {% sw_include '@Storefront/storefront/element/cms_element_input.html.twig' with {
            type: 'number',
            default_value: '1',
            classes: 'input-amount',
            name: 'lineItems[' ~ product.id ~ '][quantity]',
            additionally: 'min=1 max=100 '
        } %}
        <button class="col-6 elem-button btn-buy-now" type="button">Sofort kaufen</button>
        <button class="elem-button btn-shopping-cart" type="submit">In den Warenkorb</button>
    </div>
{% endblock %}
