<div class="input-amount input-group c6"
     data-number-input-plugin="true">
    <input class="form-control elem-number-input" min="0" max="100" type="text">
    <div class="number-control">
        <button class="btn btn-primary elem-input-number-increase" type="button">
            {% sw_icon 'chevron-up' style {
                namespace: 'VinoshopTheme',
                pack: 'material'
            } %}
        </button>
        <button class="btn btn-primary elem-input-number-decrease" type="button">
            {% sw_icon 'chevron-down' style {
                namespace: 'VinoshopTheme',
                pack: 'material'
            } %}
        </button>
    </div>
</div>