{% sw_extends '@VinoshopTheme/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    <header class="header-main">
        <div class="container">
            {{ parent() }}
        </div>
    </header>
    <div class="header-spacing"></div>
{% endblock %}