{% block sw_cms_block_product_with_winzer_three_column_preview %}
    <div class="sw-cms-preview-product-with-winzer-three-column">
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
    </div>
{% endblock %}