{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_col %}
    {% set listingColumns = listingColumns ~ " d-flex justify-content-center" %}
    {% for product in searchResult %}
        <div class="cms-listing-col {{ listingColumns }}">
            {% block element_product_listing_box %}
                {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                    'layout': boxLayout,
                    'displayMode': displayMode
                } %}
            {% endblock %}
        </div>
    {% endfor %}
{% endblock %}